/*
 * Copyright Altera Corporation (C) 2012,2014. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Altera SOCFPGA Cyclone V SoC Development Kit";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;

		/* This code makes i2c busses appear in sysfs numbered in a
		 * predictable and strict order */
		i2c0 = &i2c0;
		i2c1 = &i2c1;
	};

	regulator_3_3v: 3-3-v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	soc {
		ethernet@ff702000 {
			phy-mode = "rgmii-id";
			phy-addr = <0xffffffff>; /* probe for phy addr */
			status = "okay";
		};

		gpio0: gpio@ff708000 {
			status = "okay";
		};

		gpio1: gpio@ff709000 {
			status = "okay";
		};

		gpio2: gpio@ff70a000 {
			status = "okay";
		};

		i2c0: i2c@ffc04000 {
			status = "okay";
			speed-mode = <0>;
			i2c-sda-falling-time-ns = <5000>;
			i2c-scl-falling-time-ns = <5000>;

			rtc@68 {
				compatible = "dallas,ds1340";
				reg = <0x68>;
				status = "okay";
			};

			eeprom@50 {
				compatible = "at,24c02";
				reg = <0x50>;
				status = "okay";
			};

			adc@48 {
				compatible = "at,ads7830";
				reg = <0x48>;
				status = "okay";
			};
		};

		i2c1: i2c@ffc05000 {
			status = "disabled";
		};

		pmu {
			cti0: cti0@ff118000 {
				status = "okay";
			};

			cti1: cti1@ff119000 {
				status = "disabled";
			};
		};

		fpga-io {
			compatible = "etn,io";
			h2f = <0xc0000000 0x1000>;
			lwh2f = <0xff200000 0x1000>;
			rstmgr = <0xffd05000 0x1000>;
			l3regs = <0xff800000 0x1000>;
		};

		etn-port0 {
			compatible = "etn,net,netdma";
			etn,port-num = <0>;
			interrupts = <0x0 0x28 0x1 0x0 0x29 0x1>;
			mac-address = [ 00 21 CE 01 00 01];
		};

		etn-port1 {
			compatible = "etn,net,netdma";
			etn,port-num = <1>;
			interrupts = <0x0 0x2A 0x1 0x0 0x2B 0x1>;
			mac-address = [ 00 21 CE 01 00 02];
		};

		etn-temp {
			compatible = "etn,temp";
		};

		etn-fan {
			compatible = "etn,fan";
		};

		etn-phc {
			compatible = "etn,phc";
		};

		aes {
			compatible = "stcmtk,aes";
			interrupts = <0x0 0x28 0x1>;
		};

	};
};

&mmc0 {
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;
};

&uart0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};
